<!DOCTYPE html>
<html>
<head>
<meta charset = "utf-8">
	<title>Deep Games</title>
	<link rel = "stylesheet" href = "index.css">
    <link rel = "stylesheet" href = "four.css">
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
</head>
<body>

{{{body}}}

<script type="text/javascript" src="./index.js"></script>
</body>
</html>
