
html{
	margin: 0;
}

body{
	margin: 0;
}


h1 {
	margin: 0;
	width: 100%;
	background-color: black;
	color: white;
	height: 50px;
	font-family: "verdana";
	padding-left: 5%;
}

.title-container {
	width: 100%;
	height: 60px;
	background-color: orange;
	margin: 0;
	padding: 0;
}

.game-title {
	margin: 0;
	color: black;
	font-family: "verdana";
	display: inline;
	font-size: 50px;
	font-weight: bold;
	position: absolute;
	top: 50px;
	margin-left: 25px;
}

.game-clip {
	display: inline;
	height: 90%;
	margin: 0;
}

#board-container {
	display: inline;
	width: 70%;
	float: left;
	padding: 5px;
	height: 1000px;

}

#board {
	clear: both;
	border-radius: 15px;
	height: 650px;
	background-color: lightgrey;


}

#button-array {
	padding-bottom: 13.25%;
}

.chip-button {
	display: inline;
	float: left;
	width: 13.25%;
	height: auto;
	margin: .5%;
	border-style: none;
	background-color: green;
}

.board-column {
	display: inline;
	float: left;
	width: 13.25%;
	margin: .5%;
	background-color: lightyellow;
	height: 98%;
}



.player {
	display: inline;
	margin: .5%;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
	padding: 5px;
	width: 10%;
	float: left;
}
