
html{
	margin: 0;
}

body{
	margin: 0;
}


h1 {
	margin: 0;
	width: 95%;
	background-color: black;
	color: white;
	height: 50px;
	font-family: "verdana";
	padding-left: 5%;
}

.title-container {
	width: 100%;
	height: 60px;
	background-color: orange;
	margin: 0;
	padding: 0;
}

.game-title {
	margin: 0;
	color: black;
	font-family: "verdana";
	display: inline;
	font-size: 50px;
	font-weight: bold;
	position: absolute;
	top: 50px;
	margin-left: 25px;
}

.game-clip {
	display: inline;
	height: 90%;
	margin: 0;
}

#board-container {
	display: inline;
	width: 80vmin;
	max-width: 55%;
	float: left;
	padding: .5%;
}

#board {
	clear: both;
	border-radius: 15px;
	padding-bottom: 85.7%;
	background-color: lightgrey;
}

.chip-button {
	display: inline;
	float: left;
	width: 8%;
	margin-right: 3.14%;
	margin-left: 3.14%;
	margin-bottom: 1%;
	border-style: none;
	border-radius: 50%;
	padding-top: 1.5%;
	padding-bottom: 2%;
	background-color: lightgreen;
	font-size:  2vmin;
}

.chip-button:hover {
	background-color: green;
	font-weight: bold;
}

.board-column {
	display: inline;
	float: left;
	width: 13.25%;
	margin: .5%;
	background-color: lightyellow;
	padding-bottom: 84.5%;
}



.player {
	display: inline;
	margin: .5%;
	border-radius: 10px;
	border-width: .25vw;
	border-style: solid;
	border-color: black;
	padding: .4%;
	max-width: 19%;
	min-width: 10%;
	width: 19%;
	float: left;
}
