
html{
	margin: 0;
}

body{
	margin: 0;
}


h1 {
	margin: 0;
	width: 95%;
	background-color: black;
	color: white;
	height: 50px;
	font-family: "verdana";
	padding-left: 5%;
}

.title-container {
	width: 100%;
	height: 60px;
	background-color: orange;
	margin: 0;
	padding: 0;
}

.game-title {
	margin: 0;
	color: black;
	font-family: "verdana";
	display: inline;
	font-size: 50px;
	font-weight: bold;
	position: absolute;
	top: 50px;
	margin-left: 25px;
}

.game-clip {
	display: inline;
	height: 90%;
	margin: 0;
}

#board-container {
	display: inline;
	width: 80vmin;
	max-width: 55%;
	float: left;
	padding: .5%;
}

#board {
	clear: both;
	border-radius: 15px;
	padding-bottom: 74%;
	background-color: lightgrey;
}

.spacer-div {
	display: inline;
	float: left;
	padding-bottom: 50vh;
	padding-right: calc(27vw - 40vh);
}

.darrow{
	float: left;
	width: 100%;
}

.chip-button {
	display: inline;
	float: left;
	width: 8%;
	margin-right: 3.14%;
	margin-left: 3.14%;
	margin-bottom: 1%;
	border-style: none;
	border-radius: 50%;
	padding-top: 1.5%;
	padding-bottom: 2%;
	background-color: lightgreen;
}

.chip-button:hover {
	background-color: green;
	font-weight: bold;
}

.chip-button:focus {
	outline: 0;
}

.chip-slot {
	display: block;
	border-radius: 50%;
	border-style: none;
	padding-bottom: 80%;
	margin: 10%;
	background-color: lightblue;
}

.board-column {
	border-radius: 10px;
	display: inline;
	float: left;
	width: 13.25%;
	margin: .5%;
	background-color: lightyellow;
	padding-bottom: 0;
}

.player {
	display: inline;
	margin: .5%;
	border-radius: 10px;
	border-width: .25vw;
	border-style: solid;
	border-color: black;
	padding: .4%;
	max-width: 19%;
	min-width: 10%;
	width: 19%;
	float: left;
}
