html {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
}

#header {
	background-color: black;
	width: 100%
	margin: 0;
	padding: 10px 10px;
	color: white;
}

#header h1 {
	font-family: "verdana";
	margin: 0;
	font-size: 36;
}

.box {
	border: 1px solid black;
	background-color: lightgrey;
	border-radius: 2px;
	width: 400px;
	margin: 20px 20px;
	flex-wrap: wrap;
	display: inline-block;
	width: 400px;
	height:auto;
}

.box-content {
	padding: 20px;
}

.box-title {
	margin-left: 0px;
	margin-top: 0px;
	background-color: black;
	width: 100%
	padding-top : 10px;
	padding-bottom: 2px;
	color: white;
}
.box-title h2 {
	text-align: center;
	font-family: "verdana";
	margin: 0;
	font-size: 18px;
}

#footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}