html{
	margin: 0;
}
body{
  background-color: yellow;
	margin: 0;
}
h1 {
	margin: 0;
	width: 100%;
	background-color: black;
	color: white;
	height: 50px;
	font-family: "verdana";
	padding-left: 5%;
}

.games{
  width: 400px;
  float: left;
  padding: 100px;
}
.topScores{
  width: 400px;
  float: right;
  padding: 100px;
}
.content{
  height: 100%;
  padding: 5%;
  width: 380px;
  background-color: grey;
}
